@media(max-width:450px){
    footer{
        background-image: url(../../assets/img/background-header2x.png);
        background-repeat: no-repeat;
        background-size: cover;
         position: relative;
         z-index: 1;
         overflow: hidden;
     }
     .back-footer{
         display: none;
     }
     .contenedor-footer{
        margin: 2rem 3%;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
    }
    .img-footer{
        margin-bottom: 0.5rem;
        width: 7rem;
        height: 7rem;
        border: 4px solid white;
        border-radius: 50%;     
    }
    .lista-footer{
        display: none;
    }


 .lista-footer-redes{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    list-style: none;
    padding: 0.625rem;
    color: white;
    list-style: none;
 }

.lista-footer-redes li{
    margin: 0 4%;
}

.lista-footer-redes li:hover{
    background-color: rgb(0, 149,218);
    border-radius: 5%;
}

.lista-footer-redes li a{
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
}
  
    .contenedor-derechos{
        background-color: #231f20;  
        margin-top: -5px;
    }
    .contenedor-derechos p{
        color: #ffff;
        text-align: center;
        font-size: 1rem;
    }
}
/* css footer */
@media (min-width:451px)and(max-width:1100px){
    footer{
        background-image: url(../../assets/img/background-header2x.png);
        background-repeat: no-repeat;
        background-size: cover;
         position: relative;
         z-index: 1;
         overflow: hidden;
     }
     .back-footer{
         display: none;
     }
     .contenedor-footer{
        margin: 2rem 3%;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
    }
    .img-footer{
        margin-bottom: 0.5rem;
        width: 7rem;
        height: 7rem;
        border: 4px solid white;
        border-radius: 50%;     
    }
    .lista-footer{
        display: none;
    }


 .lista-footer-redes{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    list-style: none;
    padding: 0.625rem;
    color: white;
    list-style: none;
 }

.lista-footer-redes li{
    margin: 0 4%;
}

.lista-footer-redes li:hover{
    background-color: rgb(0, 149,218);
    border-radius: 5%;
}

.lista-footer-redes li a{
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
}

.contenedor-derechos{
    background-color: #231f20;  
    margin-top: -5px;
}
.contenedor-derechos p{
    color: #ffff;
    text-align: center;
}
}





@media(min-width:1101px){
    
    footer{
        width: 100%;
        min-height: 11.25rem;   
        background-image: url(../../assets/img/back3x.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;
        overflow: hidden;
        font-family: $fuenteTitulos;
     }
     
     
     .contenedor-footer{
        height: 80px;
        margin: 5% 5%;
         width: 62.5rem;
         float: right;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
         z-index: 1;
         background-color: #231f20;
         ::after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: -500px;
                width: 500px;
                background-color: #231f20;
         }
     }
     .img-footer{
         width: 7.5rem;
         height: 7.5rem;
         border: 4px solid white;
         border-radius: 50%;
         position: relative;
         z-index: 1;
      
     }

   
    
 .contenedor-footer,.lista-footer,.lista-footer-redes{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

.lista-footer ,.lista-footer-redes{
    height: 60px;
    margin: auto;
    font-size: 2rem;
    color: white;
    list-style: none;
    white-space: nowrap;
}

.lista-footer{
    width: 70%;
}
.lista-footer:before{
    content: '';
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 41px solid transparent;
    position: absolute;
    top: 0;
    left: -19px;
    border-right: 19px solid #231f20; 
}
.lista-footer-redes{
    width: 30%;
    height: 80px;
}
    


.lista-footer li,.lista-footer-redes li{
    margin: 0 2%;
    padding: 0.4rem;
    
}
.lista-footer li:hover,.lista-footer-redes li:hover{
    background-color: rgb(0, 149,218);
    border-radius: 5%;
    padding: .7rem;
}

.lista-footer li a , .lista-footer-redes li a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bolder;
    color: #fff;

}
.lista-footer li a:hover{
    color: #ffff;
}
.contenedor-derechos{
    background-color: #231f20;  
}
.contenedor-derechos p{
    color: #ffff;
    text-align: center;
}

}
    

    