
.nav-productos{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

@media(max-width:1200px){
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        margin-top: -10px;
        background-image: url(../../assets/img/background-header2x.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 15.6rem;
        font-family: $fuenteTitulos;
        
    }
    .img-base{
        border: 6px solid white;
        border-radius: 50%;
        width: 9rem;
    }
    .contenedor-carrito{
        margin-right: 3%;
        
        .icono-carrito{
            margin-bottom: 5px;
            width: 1.9rem;
            height: 1.9rem;
        }
    }

    .contenedor-logo{
        position: relative;
        z-index: 1;
        top: -20px;
    }
        .contenedor-burguer-menu {
            padding-top: 1rem;
            width: 100%;
            height: 3.5rem;
            background-color: #231f20;
            position: relative;
            z-index: 0;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .contenedor-burguer-menu.open{
            position: fixed;
            z-index: 500;
            top: -5px;
        }

       .contenedor-navbar{
           display: flex;
           flex-direction: column;
           margin-left: 3%;
       }
                .bars{
                width:1.6rem;
                height: 3px;
                background-color:#f9f3f3;
                margin: 2px auto;
                
            }
            .items{
                font-size: 1rem;
                color: white;
                position: relative;
                top: 1.5px;
                left: -25px;
            }
 
            nav.close{
            display: none;
            height: 0px;
            overflow: hidden;
            }
            nav.open{
                transition: 3s all ease;
                width: 100%;
                position: fixed;
                z-index: 500;
                background-color: rgba(0, 0, 0, 0.9);
                top: 45px;
                padding-top: 1.3rem;
                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    li{
                        padding: 1rem;
                        
                        a{
                            font-size: 2rem;
                            font-family:  'Chewy', cursive;
                            padding: 0.3rem;
                            text-decoration: none;
                            color: #f9f3f3;
                            border-bottom: 1px solid #f9f3f3;
                        }

                    }
                }

                .back-ul{
                    display: none;
                }
                
                .carrito,.carrito-lista{
                    display: none;
                }
            }
            .nav-productos{
                display: inline-block;
                margin-left: .255em;
                vertical-align: .255em;
                content: "";
                border-top: .3em solid;
                border-right: .3em solid transparent;
                border-bottom: 0;
                border-left: .3em solid transparent;
            }
            
            .sub-menu{
                display: flex;
                flex-direction: column;
            }

            .close{
                height: 0px;
                overflow: hidden;
            }
            

            
            
            
        }

 
@media(min-width:1201px){
    header{
            background-color: black;
            margin-top: -15px;
            width: 100%;
            background-image: url(../../assets/img/background-header1920.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            max-height: 15.6rem;
            font-family: $fuenteTitulos;
            display: flex;
            justify-content: space-between;

    }
    .contenedor-logo{
            padding: 1rem;
            margin-top: 0.8rem;
            margin-left: 5%;  
     }
     .img-base{
         border: 6px solid white;
         border-radius: 50%;
         width: 10.6rem;
     }   
     .contenedor-burguer-menu{
         display: none;
     }
     .burger-menu{
         display: none;
     }
     
        nav{
            width: 80%;
            position: relative;
            top: 4rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            overflow: hidden;
        }
   
    .lista-nav{
        margin-right: 5%; 
        height: 80px;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        list-style: none;
        background-color: #231f20;
    }
    
    .lista-nav:before{
        content: '';
        width: 0;
        height: 0;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        position: absolute;
        left: -19px;
        border-right: 19px solid #231f20;
    }
    .lista-nav:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: -500px;
        width: 500px;
        background-color: #231f20;
    }
    

    header ul li{
        margin: 0 1.5rem;
        padding: 0.2rem;
    }
    header ul li:hover{
        background-color: rgb(0, 149,218);
        border-radius: 5%;
    }

    header ul li a{
        font-size: 1.7rem;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    header ul li a:hover{
        color: white;
    }
    .icono-carrito{
        width: 30px;
        height: 30px;
    }
    .items{
        font-size: 1rem;
        color: white;
        position: relative;
        top: 4px;
        left: -20px;
    }

    
    
}