@media(max-width:768px){
    .contenedor-info h1{
        text-align: center;
        font-size: 1rem;
        font-family: $fuenteTitulos;
        font-weight: bolder;
        color: #ffff;  
        text-shadow: 2px 2px 3px black;
    }
}

@media(max-width:1023px){
    main{
        background-image: url(../../assets/img/background-main-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        min-height: 25rem;  
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -5px;
    }
    .back-main-img{
        display: none;
    }
    .contenedor-info{
        margin-left: 3%;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor-info h1{
        font-size: 3rem;
        font-family: $fuenteTitulos;
        font-weight: bolder;
        color: #ffff;  
        text-shadow: 2px 2px 3px black;
    }

    .btn-comprar{
        display: flex;
        background-color: rgb(0, 84, 154);
        color: #ffff;
        padding: 0.5rem;
        font-size: 0.8rem;
        justify-content: space-around;
        align-items: center;
        min-height: 50px;
        max-width: 98%;
    }
    .btn-comprar:hover{
            box-shadow: -1px 2px 53px -4px rgba(0,0,0,0.75);
           -webkit-box-shadow: -1px 2px 53px -4px rgba(0,0,0,0.75);
           -moz-box-shadow: -1px 2px 53px -4px rgba(0,0,0,0.75);
       
    }
    .btn-main{
        background-color: rgb(0, 84, 154);
        color: #ffff;
        border: none;
        font-family:$fuenteGeneral;
        padding: 0.5rem 1.5rem;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
         font-family: $fuenteGeneral;
        
        
    }
    
    .fa-shopping-cart{
        color: white;
        
    }
     
    .contenedor-img{
        margin-right: 3%;
    }
    .logo-sudestada{
        position: relative;
        z-index: 2;
        width: 100%;
    }
    }


@media(min-width:1024px){
    main{

        position: relative;
        overflow: hidden;
        min-height: 43.7rem;  
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .back-main-img{
        width: 100%;
        min-height: 43.7rem;
        position: absolute;
        left: 0;
        top: 0;
    
    }
    .contenedor-info{
        margin-left: 5%;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor-info h1{
        font-size: 5rem;
        font-family: $fuenteTitulos;
        font-weight: bolder;
        color: #ffff;  
        text-shadow: 2px 2px 3px black;
    }

    .btn-main{
        background-color: rgb(0, 84, 154);
        color: #ffff;
        padding: 0.8rem 2rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        font-family: $fuenteGeneral;
    }
   

    .btn-comprar{
        display: flex;
        background-color: rgb(0, 84, 154);
        color: #ffff;
        border: none;
        padding: 1rem 1rem;
        justify-content: space-around;
        align-items: center;
        font-size: 1.2rem;
        height: 60px;
        width: 100%;
    }
    .btn-comprar:hover,.btn-main:hover{
            transition: 0.5s all ease-in-out;
            box-shadow: -1px 2px 53px -4px rgba(0,0,0,0.75);
           -webkit-box-shadow: -1px 2px 53px -4px rgba(0,0,0,0.75);
           -moz-box-shadow: -1px 2px 53px -4px rgba(0,0,0,0.75);
       
    }
  
    .fa-shopping-cart{
        color: white;        
    }

    .contenedor-img{
        margin-right: 5%;
    }

    .logo-sudestada{
        position: relative;
        z-index: 2;
        width: 16rem;}
    }