
.nosotros{
    margin: 5% 0 ;
    padding: 2rem;
    min-height: 37.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-pochoclos{
    width: 25rem;
    height: 21,9rem;
}
.contenedor-info-seccion{
    width: 31.2rem;
}
.contenedor-info-seccion h2{
    color:#1EAEDB ;
    font-size: 2.5rem;
    font-weight: bolder;
}
.contenedor-info-seccion p{
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
}
.border-seccion-productos{
    width: 100%;
    height: 2.8rem;
}

@media(max-width:1023px){
    .nosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
.img-pochoclos{
    width: 15rem;
    margin-bottom: 5%;
    
}
.contenedor-info-seccion h2{
    color:rgb(0, 84, 154);
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}
.contenedor-info-seccion p{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    margin: auto;
}

}
