@media(max-width:767px){
    #cervezas, #pochoclos{
            margin: 6rem 5%;
    }
    .contenedor-btn{
        width: 100%;
        margin: 1% auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-secciones{
        margin: 0 2%;
        font-size: 0.8rem;
    }
    
    .titulo{
            
            font-family: $fuenteTitulos;
            color:rgb(0, 84, 154);
            font-size: 3rem;
            font-weight: bolder;
            text-align: center;
    }
    .contenedor-seccion-productos{
        width: 90%;
        margin: 0 5%;

    }
    .card{
        width: 95%;
    }
}
@media(min-width:768px)and(max-width:1200px){
    #cervezas, #pochoclos{
        margin: 5% 3%;
 }
.contenedor-btn{
    width: 90%;
    margin: 1% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-secciones{
    margin: 0 2%;
}

.titulo{
        font-family: $fuenteTitulos;
        color:rgb(0, 84, 154);
        font-size: 3rem;
        font-weight: bolder;
        text-align: center;
}
.contenedor{
    padding: 1rem;
    width: 100%;
}
.contenedor-seccion-productos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-seccion{
    max-width: 40%;
    flex-shrink: 0;
    margin: 0 3%;
}
}
    
    
.contenedor-seccion-productos{
    
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

@media(min-width:1201px){
    #cervezas, #pochoclos{
        margin: 5rem 3%;
 }
.contenedor-btn{
    width: 90%;
    margin: 1% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-secciones{
    margin: 0 2%;
}

.titulo{
        font-family: $fuenteTitulos;
        color:rgb(0, 84, 154);
        font-size: 4rem;
        font-weight: bolder;
        text-align: center;
}
.contenedor{
    padding: 1rem;
    width: 100%;
}
.contenedor-seccion-productos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-seccion{
    max-width: 25%;
    flex-shrink: 0;
    margin: 0 3%;
}
}